* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;    
} 


/* Start of navbar style */
.nav_bar {
    padding: 10px;
    padding-bottom: 10px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.489);
    display: flex;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#libraryName{
    color: #31220f;
    text-decoration: none;
    font-weight: 550;
    font-size: 28px;
    position: relative;
    bottom: -1px;
    padding: 5px;
    text-decoration: none;

}
#logo {
    width:90px; /* Adjust as needed */
    padding: 0px;
    margin: 0px; /* Adjust as needed */
    position: relative;
    top: 6px;
    padding-bottom: 1px;

}

  /* Style for the navbar title */
#navbar_logo {
    margin-right: 0; /* Remove default margin */
    font-size: 26px; /* Adjust as needed */
    text-decoration: none;
    color: #31220f;

}

  /* Style for the navigation links */
.nav_menu {
    margin-left: auto; /* Align to the right */
}

.nav_links {
    color:#31220f; /* Black color */
    text-decoration: none; /* Remove underline */
    margin-right: 15px; /* Adjust as needed */
    transition: background-color 0.3s, opacity 0.3s; /* Smooth color and opacity transition */
    padding: 8px 15px; /* Add padding to create a box-like appearance */
    border-radius: 10px; /* Add border-radius for rounded corners */
    font-size: 18px; /* Adjust as needed */
    font-weight: bold; /* Adjust as needed */
}

.nav_links:hover {
    background-color: rgb(29, 97, 84); /* Change background color on hover */
    opacity: 0.8; /* Reduce opacity of other items on hover */
    color:#f8f4ef; /* Change text color on hover */
    

}
/* ------------------------------------- */
/* end of navBar style */


/* Style for the main content */
.main {
    padding: 20px;
    text-align: center;
    background-color: #f8f4ef;
    margin-top: 130px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.main h1{
    margin-bottom: 40px;
}

.paragraph{
    font-weight: bold;
    margin-bottom: 75px;
}
/* Style for the welcome message */
.h3 {
    margin-bottom: 5px;
    margin-right: 20px; 
}

/* Style for the features */
.feature {
    display: inline-block;
    margin-right: 20px;
    vertical-align: top; 
}

/* Style for the feature buttons */
.feature_button {
    display: inline-block;
    background-color: rgb(29,97,84);;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 170px;
}



/* [data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: #00FF00;
    color: #111;
    font-size: 150%;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: -1.6em;
    left: 100%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
}
[data-title] {
    position: relative;
} */

body {
    background-color: #f8f4ef;
}

/* Style for the footer */
.footer {
    background-color: black;
    padding: 20px;
    display: flex;
    position: fixed;
    justify-content: space-around;
    bottom: 0;
    width: -webkit-fill-available;
    height: 200px;
}

/* Style for footer columns */
.footer_column {
    text-decoration: none;
    color: transparent;
    margin-left: 100px;

}
ul.special-list {
    margin-left:25px;

}

.special-list li a{
    text-decoration: none;
    color: #ccc;

}
.special-list li a:hover{
    color: #2980b9;
}


/* Style for footer headings */
.footer h3 {
    color: #ccc;
}

.footer h2{
    color: #ccc;
    position: relative;
    font-size: 22px;
    right: 50px;
}

/* Style for footer navigation */
.footer nav {
    margin-top: 10px;
}

/* Style for social icons */
.social_icons {
    margin-top: 10px;
    display: flex;
}

.social_icons a {
    margin-right: 10px;
}

.social_icons img {
    width: 30px;
}

.social {
    top:45%;
    left:58%;
    transform: translate(-50%, -50%);
    margin:0;
    padding:0;
    display:flex;
}

.social li {
    list-style: none;
}

.social li a {
    width:30px;
    height:30px;
    display:block;
    text-align:center;
    margin:0 7px;
    box-sizing: border-box;
    transition: .5s;
    
}

.social li a .fab {
    line-height: calc(60px - 12px);
    font-size: 25px;
    color: #ccc;

}

.social li:nth-child(1) a:hover .fab {
    color: #3b5998;
}

.social li:nth-child(2) a:hover .fab {
    color: #00aced;
}

.social li:nth-child(3) a:hover .fab {
    color: #dd4b39;
}

.social li:nth-child(4) a:hover .fab {
    color: #007bb6;
}