/* :root {
    --green--btn: rgb(29, 97, 84);
    --backG--color: #f8f4ef;
    --font--color: #31220f;
    --selection--color:#e4c5a1;
    
} */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;    
}   

body {
    background-color: #f8f4ef;
    
}

/* Removing the scroll bar without impacting scrolling */
*::-webkit-scrollbar{
    display: none;
}

/* Start of navbar style */
.nav_bar {
    padding: 10px;
    padding-bottom: 10px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.489);
    display: flex;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#libraryName{
    color: #31220f;
    text-decoration: none;
    font-weight: 550;
    font-size: 28px;
    position: relative;
    bottom: 6px;
}
#logo {
    width:90px; /* Adjust as needed */
    padding: 0px;
    margin: 0px; /* Adjust as needed */
    position: relative;
    top: 6px;
    padding-bottom: 1px;

}

  /* Style for the navbar title */
#navbar_logo {
    margin-right: 0; /* Remove default margin */
    font-size: 26px; /* Adjust as needed */
    text-decoration: none;
    color: #31220f;

}

  /* Style for the navigation links */
.nav_menu {
    margin-left: auto; /* Align to the right */
}

.nav_links {
    color:#31220f; /* Black color */
    text-decoration: none; /* Remove underline */
    margin-right: 15px; /* Adjust as needed */
    transition: background-color 0.3s, opacity 0.3s; /* Smooth color and opacity transition */
    padding: 8px 15px; /* Add padding to create a box-like appearance */
    border-radius: 10px; /* Add border-radius for rounded corners */
    font-size: 18px; /* Adjust as needed */
    font-weight: bold; /* Adjust as needed */
}

.nav_links:hover {
    background-color: rgb(29, 97, 84); /* Change background color on hover */
    opacity: 0.8; /* Reduce opacity of other items on hover */
    color:#f8f4ef; /* Change text color on hover */
    

}

.search-section{
    padding: 20px;
}

.search-wrapper{
    /* align-items: center; */
    width: 40%;
    align-items: center;
    height: 50px;
    padding: 14px;
    display: flex;
    border-radius: 28px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    /* transition: background 0.25s; */
}

.serach-icon{
    align-self: center;
}

.search-bar{
    display: flex;
    width: 900px;
    outline: none;
    border: none;
    background: transparent;
    padding:14px;
    align-self: center;
}

.search-icon,.search-bar::placeholder{
    color: rgba(0, 0, 0, 0.3);
}

input { 
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.3);
}

/* .search-results-section{
    align-items: center;
    margin: 20px;
    padding: 10px;
} */
.search-results{
    margin: 50px 20px;
    /* margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 30px; */
    display: grid;
    grid-template-columns: repeat(4, minmax(50px, 1fr)); /* Adjust the column width */
    /* grid-gap: 20px; */
    grid-column-gap: 1px;
    grid-row-gap: 50px;
    justify-content: center;
    align-items: center;
}

.search-results > .book{
    width:auto;
    height:auto;
    border: none;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange content vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    text-align: center; 
    /* Center text */
    /* padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px; */

    /* border: none;
    align-items: center;
    justify-content: center; */
}

.search-results > .book > p{
    display:none;
}

.search-results > .book:hover{
    transform:scale(1.1);
    /* border: 2px solid black; */
    border-radius: 20px;
    /* border-width: 150px; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    background-color: #f8f4ef;
}

.search-results > .book:hover > p{
    display:block;
    font-size: x-small;
    align-self: center;
}

.search-results > .book > img{
    border-radius: 10px;
    align-content: center;
}

.search-results > .book > h2{
    font-size: 15px;
}

.search-results > .book > button{
    border:none;
    border-radius: 20px;
    width:30%;
    height: 20%;
    background-color: rgb(29, 97, 84);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    outline: none;
    color: white;
    padding: 10px;
}

.footer {
    background-color: black;
    padding: 20px;
    display: flex;
    position: fixed;
    justify-content: space-around;
    bottom: 0;
    width: -webkit-fill-available;
    height: 200px;
}

/* Style for footer columns */
.footer_column {
    text-decoration: none;
    color: transparent;
    margin-left: 100px;

}
ul.special-list {
    margin-left:25px;

}

.special-list li a{
    text-decoration: none;
    color: #ccc;

}
.special-list li a:hover{
    color: #2980b9;
}


/* Style for footer headings */
.footer h3 {
    color: #ccc;
}

.footer h2{
    color: #ccc;
    position: relative;
    font-size: 22px;
    right: 50px;
}

/* Style for footer navigation */
.footer nav {
    margin-top: 10px;
}

/* Style for social icons */
.social_icons {
    margin-top: 10px; 
    display: flex;
}

.social_icons a {
    margin-right: 10px;
}

.social_icons img {
    width: 30px; 
}

.social {
    top:45%;
    left:58%;
    transform: translate(-50%, -50%);
    margin:0;
    padding:0;
    display:flex;
}

.social li {
    list-style: none;
}

.social li a {
    width:30px;
    height:30px;
    display:block;
    text-align:center;
    margin:0 7px;
    box-sizing: border-box;
    transition: .5s;
    
}

.social li a .fab {
    line-height: calc(60px - 12px);
    font-size: 25px;
    color: #ccc;

}

.social li:nth-child(1) a:hover .fab {
    color: #3b5998;
}

.social li:nth-child(2) a:hover .fab {
    color: #00aced;
}

.social li:nth-child(3) a:hover .fab {
    color: #dd4b39;
}

.social li:nth-child(4) a:hover .fab {
    color: #007bb6;
}