*{
    box-sizing: border-box;
}
/* Style for the header/navbar */

.nav_bar {
    background-color: #f8f4ef;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
}
#logo{
    width:90px; /* Adjust as needed */
    padding: 0px;
    margin: 0px; /* Adjust as needed */
    position: relative;
    padding-bottom: 1px;

}

/* Style for the navbar title */
#navbar_logo {
    margin-right: 0; /* Remove default margin */
    font-size: 26px; /* Adjust as needed */
    text-decoration: none;
    color: #31220f;
    /*margin: 0; /* Remove default margin */
    /*color: black; /* Black color */
}
#libraryName{
    color: #31220f;
    padding: 5px;
    font-weight: 550;
    font-size: 28px;
    position: relative;
}

/* Style for the navigation links */
.nav_menu {
    margin-left: auto; /* Align to the right */
}
.nav_bar a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.nav_links {
    color: black; /* Black color */
    text-decoration: none; /* Remove underline */
    margin-right: 15px; /* Adjust as needed */
    transition: background-color 0.3s, opacity 0.3s; /* Smooth color and opacity transition */
    padding: 8px 15px; /* Add padding to create a box-like appearance */
    border-radius: 10px; /* Add border-radius for rounded corners */
    font-size: 18px; /* Adjust as needed */
    font-weight: bold; /* Adjust as needed */
}

.nav_links:hover {
    background-color: rgb(29, 97, 84); /* Change background color on hover */
    opacity: 0.8; /* Reduce opacity of other items on hover */
    color:#f8f4ef; /* Change text color on hover */
}

body{
    background-color: #f8f4ef;
}


.main{
    height: 500px;
    width: 888px;
    margin: auto;
    background: #956c4f;
    align-self: center;
    border-radius: 24px;
    box-shadow: 4px 3px 20px #3535358c;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: -300px;
    transform: translate(-50%, -50%);
}


.leftside {
    background-color: #f8f4ef;
	width: 400px;
	display: inline-flex;
    align-items: center;
    justify-content: center;
	border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}
.image {
    object-fit: cover;
	width: 320px;
    height: 320px;
}

.rightside p{
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, sans-serif; /* Change font family */
    display: flex;
    justify-content: flex-start;
    margin: 18px auto;
    text-indent: 28px;
    line-height: 1;
    color: #eee;
}
.rightside .myform{
    padding: 10px;
    margin: 30px auto;
    
}
#book_name,
#author,
#date{
    padding: 10px;
    margin: 20px;
    width: 105%;
    border-radius: 5px;
    border: 2px solid white;
}
input[type="submit"]{
    margin: 10px;
    color: white;
    background-color: rgb(29,97,84);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    position: absolute;
    right: 183px;
    transition: background-color 0.3s, opacity 0.3s;
}
input[type="submit"]:hover{
    
    background-color: rgb(29,97,84);
}
label{
    font-size: 18px;
    color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}
#message{
    z-index: 999;
}
/* Style for the footer */
.footer {
    background-color: black;
    padding: 20px;
    display: flex;
    position: absolute;
    justify-content: space-around;
    bottom: -146px;
    width: -webkit-fill-available;
    height: 150px;
}

/* Style for footer columns */
.footer_column {
    text-decoration: none;
    color: transparent;
    margin-left: 100px;
    position: relative;
    top: -15px;

}
ul.special-list {
    margin-left:25px;
    position: relative;
    top: -14px;
    font-family: Arial, Helvetica, sans-serif;

}

.special-list li a{
    text-decoration: none;
    color: #ccc;

}
.special-list li a:hover{
    color: #2980b9;
}


/* Style for footer headings */
.bookHaven{
    position: relative;
    left: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.followUs{
    position: relative;
    top: -15px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer h2{
    color: #ccc;
    position: relative;
    font-size: 22px;
    right: 50px;
}

/* Style for footer navigation */
.footer nav {
    margin-top: 10px;
}

/* Style for social icons */
.social_icons {
    margin-top: 10px; 
    display: flex;
    position: relative;
    top: -23px;

}

.social_icons a {
    margin-right: 10px;
}

.social_icons img {
    width: 30px; 
}

.social {
    top:45%;
    left:58%;
    transform: translate(-50%, -50%);
    margin:0;
    padding:0;
    display:flex;
}

.social li {
    list-style: none;
}

.social li a {
    width:30px;
    height:30px;
    display:block;
    text-align:center;
    margin:0 7px;
    box-sizing: border-box;
    transition: .5s;
    
}

.social li a .fab {
    line-height: calc(60px - 12px);
    font-size: 25px;
    color: #ccc;

}

.social li:nth-child(1) a:hover .fab {
    color: #3b5998;
}

.social li:nth-child(2) a:hover .fab {
    color: #00aced;
}

.social li:nth-child(3) a:hover .fab {
    color: #dd4b39;
}

.social li:nth-child(4) a:hover .fab {
    color: #007bb6;
}


