<div>
    <header class="nav_bar">
        <a href="admin_dashboard.html" id="navbar_logo"> <img src="book_covers/Sticker png.png" id="logo"></a>
        <a href="admin_dashboard.html" id="libraryName"><span id="libraryName"> Book Haven</span></a>
        <nav class="nav_menu">
        <a href="admin_dashboard.html" class="nav_links">Home</a>
        <a href="adminBooks.html" class="nav_links">Books</a> 
        <a href="profile.html" class="nav_links">Profile</a>
        <a href="Home.html" class="nav_links">Logout</a>  
        <a href="admin_result.html" class="nav_links" style="font-size: 20px;"><i class="fa fa-search"></i></a>
    </nav>
</header>
</div>