<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="book_covers/Sticker png.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="CSS/home.css" />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css'>

    <title>Home</title>
</head>
<body>
    
    <div class="first_page">
        <header class="nav_bar">
            <a href="Home.html"   id="navbar_logo"> <img src="book_covers/Sticker png.png" id="logo" ><span id="libraryName"> Book Haven</span> </a>
            <nav class="nav_menu" >
                <a href="#secondpage"                 class="nav_links">Services</a> 
                <a href="#thirdPage"           class="nav_links">Books</a> 
                <a href="#AboutUs"                  class="nav_links">About Us</a> 
                <a href="#contactUs"                class="nav_links">Contact Us</a>
                <a href="CommunityGuidlines.html"   class="nav_links">Community guidelines</a> 
                <a href="Signup.html"    id="login"  class="nav_links">Sign up</a> 
                <a href="home_result.html"          class="nav_links" style="font-size: 20px;"><i class="fa fa-search"></i></a>
            </nav>
        </header>
        <div class="Intro">
            <h3><p id="introPara">Welcome to our library,
                <p>where learning and discovery await you. With a vast collection of books, multimedia 
            resources, and online databases, you can start learning now and explore a world of knowledge at your <fingertips class="br"></fingertips>
                            <a href="Signup.html"><button class="startNow">Register Now </button></p><br></a></p>
            </p></h3>
        </div>
    </div>
    <div class="secondpage" id="secondpage">
        <div chass="services"> <!-- container of the services -->
            <h3 id="secondPageTitle"> We <b>OFFER </b>you <br> a unique experience through</h3>
            <div id="servicesContainer">
                <div class="card">
                    <a href="Signup.html"><img src="book_covers/explore.jpg" alt="explore"></a>
                    <div class="cardIntro">
                        <h1>Explore</h1>
                        <p>The ability to <span>explore</span> and search our library</p>
                    </div> 
                </div>
                <div class="card">
                    <a href="Signup.html"><img src="book_covers/borrowBook.jpg" alt="borrow"></a>
                    <div class="cardIntro">
                        <h1>Borrow</h1>
                        <p>The ability to <span>borrow</span> books as a user  </p>                  
                    </div> 
                </div>
                <div class="card">
                    <a href="Signup.html"><img src="book_covers/editBook.jpg" alt="editBook"></a>
                    <div class="cardIntro">
                        <h1>Add & Edit</h1>
                        <p>Providing <span> new, edited and updated</span> book</p>
                    </div> 
                </div>

            </div>
            <br>
        </div> 
    </div>
    <!-- INSTEAD OF BUYING 
        one, Why not borrow a book and save?
    -->
    <div class="thirdpage" id="thirdPage">
        <h3 id="title"> Popular Books </h3>
        <div class="booksContainer">
            
            <div class="book">
                <img src="book_covers/sciencefiction_1.jpg" >  
                        <p id="bookTitle"> Dune: </p> <p id="author">By Frank Herbert </p>
            </div>
            
            <div class="book">
                <img src="book_covers/DaVinciCode.jpeg" ><br>
                    <p id="bookTitle"> The Da Vinci Code:</p> <p id="author">By Dan Brown</p>
                
            </div>
            <div class="book">
                <img src="book_covers/selfhelp_3.jpg" >
                    <p id="bookTitle"> Atomic Habits: </p> <p id="author"> by James Clear </p>
                
            </div>
            
            <div class="book">
                <img src="book_covers/children_1.jpg"><br>
                    <p id="bookTitle"> Harry Potter and the Philosopher's Stone: </p> <p id="author"> by JK Rowling </p>
                
            </div>
            
            <div class="book"> 
                <img src="book_covers/romance_3.jpg" > <br>
                    <p id="bookTitle">The Notebook: </p> <p id="author">by Nicholas Sparks</p> 
                    
            </div>
            
            <div class="book"> 
                <img src="book_covers/historical_3.jpg"  > <br>
                    <p id="bookTitle"> The Nightingale: </p> <p id="author"> by Kristin Hannah</p> 
                    
                </div>
            
            <div class="book"> 
                <img src="book_covers/sciencefiction_2.jpg" > <br>
                    <p id="bookTitle">Neuromancer:</p> <p id="author">  by William Gibson </p>
            </div>
            <a href="Home_Books.html" id="morebook"><div class="moreBooks"> See more </div></a>
        </div>

    </div>
    <br>
        </div>
    </div>
    <div class="fourthpage" id="AboutUs">
        <div class="aboutUs">
            <h3 id="title">About Us</h3>
            <div class="aboutUsPara">
                <div class="aboutIntro">
                    Welcome to Book Haven,
                    a sanctuary for knowledge and exploration. <br> Our library isn't just a structure filled with books, but a central point where individuals of all ages and backgrounds can gather to learn, explore, and interact.
                    It's a space where knowledge and creativity merge to craft a enchanting experience. <br> <br>
                    At Book Haven, we hold the belief that reading is a delight and a continuous pursuit. This is why we provide a diverse selection of fiction, non-fiction, and reference materials to cater to your requirements. Whether you seek the newest bestseller, a timeless novel, or a reference guide to aid in your studies, we have something for everyone. <br> <br>
                    Our library transcends being merely a book-lending spot. It's a venue where you can join events, take part in workshops, and engage in conversations with kindred spirits. We are firm believers that learning is a communal endeavor, and we endeavor to establish an atmosphere that encourages cooperation and community. Therefore, pay us a visit at Book Haven and uncover the enchantment of reading and the pleasure of lifelong learning.
                    We eagerly anticipate your arrival to our community. 
                </div>
                <div >
                    <img src="book_covers/aboutUs.jpg" class="aboutimg" alt="about"></img>
                </div>            
            </div>
        </div>
        <div class="contactUs" id="contactUs">
            <h3 id="title">Contact Us </h3>
            <p id="p1">Please feel free to contact us:</p>
            <p id="pp"><i class="fa fa-envelope"                                id="icon"></i> Email:  info@BookHaven.com</p>
            <p id="pp"> <i class="fa fa-phone" style="font-size: 25px;"         id="icon"></i> Phone: 3333333333</p>
            <p id="pp"><i class='fas fa-map-marker-alt'                         id="icon"></i> Address: 123 Main Street, Cairo, Egypt</p>
        </div>
        <footer class="footer">
            <div class="footer_column">
                <h3>Book Haven</h3>
                <ul class="special-list">
                    <li><a href="Home.html">Home</a> </li>
                    <li><a href="home_Books.html">Books</a> </li>
                    <li><a href="#aboutUs">About Us</a> </li>
                    <li><a href="#contactUs">Contact Us</a></li>
                </ul>
            </div>
            <div class=>
                <h2>Follow Us</h2>
                <div class="social_icons">
                    <ul class="social">
                        <li><a href="https://www.facebook.com/?locale=ar_AR" target="_blank"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="https://twitter.com/?lang=ar" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="https://support.google.com/googlecurrents/answer/9217723?hl=ar" target="_blank"><i class="fab fa-google-plus-g" aria-hidden="true" ></i></a></li>
                        <li><a href="https://www.instagram.com/?hl=ar" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </footer>

    
</div>
    
</body>
</html>