{%if user.is_authenticated%}
    {%if user.id_admin%}
        <div>
            <header class="nav_bar">
                <a href="admin_dashboard.html" id="navbar_logo"> <img src="book_covers/Sticker png.png" id="logo"></a>
                <a href="admin_dashboard.html" id="libraryName"><span id="libraryName"> Book Haven</span></a>
                <nav class="nav_menu">
                <a href="admin_dashboard.html" class="nav_links">Home</a>
                <a href="adminBooks.html" class="nav_links">Books</a> 
                <a href="profile.html" class="nav_links">Profile</a>
                <a href="Home.html" class="nav_links">Logout</a>  
                <a href="admin_result.html" class="nav_links" style="font-size: 20px;"><i class="fa fa-search"></i></a>
            </nav>
        </header>
        </div>
    {%else%}
        <header class="nav_bar">
            <a href="user_dashboard.html"   id="navbar_logo"> <img src="../media/images/Sticker png.png" id="logo" ></a>
            <a href="user_dashboard.html" id="libraryName"><span id="libraryName"> Book Haven</span></a>
            <nav class="nav_menu">
                <a href="user_dashboard.html"class="nav_links">Home</a> 
                <a href="user_Books.html"class="nav_links">Books</a>
                <a href="borrowed_books.html"class="nav_links">Your books</a> 
                <a href="user_dashboard.html#contactUs"class="nav_links">Contact Us</a> 
                <a href="profile.html"class="nav_links">Profile</a>
                <a href="Home.html" class="nav_links">Logout</a>
                <a href="user_result.html"          class="nav_links" style="font-size: 20px;"><i class="fa fa-search"></i></a>
            </nav>
        </header>
    {%endif%}
{%else%}
    <header class="nav_bar">
        <a href="Home.html"   id="navbar_logo"> <img src="book_covers/Sticker png.png" id="logo" ><span id="libraryName"> Book Haven</span> </a>
        <nav class="nav_menu" >
            <a href="Home.html#secondpage"                 class="nav_links">Services</a> 
            <a href="Home_Books.html"           class="nav_links">Books</a> 
            <a href="Home.html#AboutUs"                  class="nav_links">About Us</a> 
            <a href="Home.html#contactUs"                class="nav_links">Contact Us</a>
            <a href="CommunityGuidlines.html"   class="nav_links">Community guidelines</a> 
            <a href="Signup.html"    id="login"  class="nav_links">Sign up</a> 
            <a href="home_result.html"          class="nav_links" style="font-size: 20px;"><i class="fa fa-search"></i></a>
        </nav>
    </header>

{%endif%}