{% load static %}
<link rel="stylesheet" href="{% static 'css/signup-login.css' %}">
{% include 'nav_bar.html' %}


{% block content %}
    
    <!-- <link rel="icon" href="book_covers/Sticker png.png"/> -->
    <!-- <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css'> -->
<head>

</head>
<title>Sign up</title>
<body>
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  
    <div class="main1">  	
			<div class="signup">
				<form method="post">
        {% csrf_token%}
                    <label for="chk" aria-hidden="true">Sign up</label>
                <div class="all">
                  <div class="user-option">
                      <input type="checkbox" id="admin" name="is_admin" value="True"> Admin </div>
                    <input type="text" name="username" placeholder="User name" required="">
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="pswd" placeholder="Password" required="">
                    <input type="password" name="pswdconf" placeholder="Confirm your password" required="">
                    {% csrf_token %}

					<button type="submit">Sign up</button>
          <div id="loading-message" style="display: none;">Please wait...</div>
                </div>
				</form>
			</div>
			</div>
	</div>
    {% endblock content%}


    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/signup.js' %}" defer></script>
    <script>
              function refreshPage() {
            window.location.reload();
        }

        // Check if error message is displayed, then refresh the page after 5 seconds
        window.onload = function() {
            var errorMessage = document.getElementById('error-message');
            if (errorMessage) {
                setTimeout(refreshPage, 5000);  // Refresh after 5 seconds
            }
        };
    </script>

    {% endblock scripts%}

    {% include 'footer.html' %}
  </body>
