{% load static %}
<link rel="stylesheet" href="{% static 'css/user_dashboard.css' %}">
{% include 'nav_bar.html' %}

{%block content%}

<head>
    <title>User Dashboard</title>
</head>

<div class="main">

    <h1><b>Welcome to Your Personal Dashboard</b></h1>
    <p class="paragraph">We're thrilled to have you here! Explore the options below to make the most of your experience.</p>
    <div>
        <div class="feature">
            <a href="{% url 'view_books' %}" class="feature_button" id="loadViewBooks" title="Browse through our collection of books.">View books</a>
        </div>
        <div class="feature">
            <a href="{% url 'view_books' %}" class="feature_button" id="loadBorrowBook" title="Borrow a book from our library.">Borrow a book</a>
        </div>
        <div class="feature">
            <a href="{% url 'borrowedBooks' %}" class="feature_button" id="loadBorrowedBooks" title="View the books you have borrowed.">Borrowed books</a>
        </div>
        
    </div>
</div>

<script src="{% static 'js/user_dashboard.js' %}"></script>
{%endblock content%}

{% include 'footer.html' %}
