{%load static%}
<link rel="stylesheet" href="{% static 'CSS/edit_book.css'%}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% include '../nav_bar.html' %}
{%block content%}
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Edit Book</title>
  </head>
  <body>
</header>
    </div>
    <h2>Edit Book</h2>
    <div class="searchbox">
      <input type="text" id="searchinput" placeholder="Search for..."  name="searchbox"/>
    </div>
    <div id="searchResults"> </div>
 <div class="container">
      <form method="POST" id="form">
        {% csrf_token %}
        <input type="hidden" id="book_id" name="id" />
        <div class="form_inputs">
          <label for="bookname">Book Name: </label>
          <input type="text" name="bookname" class="inputs" id="name" required />
        </div>

        <div class="form_inputs">
          <label for="author">Author: </label>
          <input type="text" name="author" class="inputs" id="author" required />
        </div>

        <div class="form_inputs">
          <label for="book_description" name="description">Description: </label>
          <textarea
            name="book_description"
            cols="50"
            rows="5"
            id="description"
            required
          ></textarea>
        </div>

        <div class="form_inputs">
          <label for="Publisher">Publisher: </label>
          <input type="text" name="Publisher" class="inputs" id="Publisher" required />
        </div>

        <div class="form_inputs">
          <label for="genre">Genre: </label>
          <input type="text" name="genre" class="inputs" id="genre" required/>
        </div>

        <div class="form_inputs">
          <label for="language">Language: </label>
          <input type="text" name="language" class="inputs" id="language" required />
        </div>

        <div class="form_inputs">
          <label for="edition">Edition: </label>
          <input type="text" name="edition" class="inputs" id="edition" required />
        </div>

        <div class="form_inputs">
          <label for="date">Publication Year: </label>
          <input type="text" name="date" class="inputs" id="date" required/>
        </div>

        <div class="form_inputs">
          <label for="ISBN">ISBN: </label>
          <input type="text" name="isbn" class="inputs" id="isbn" required />
        </div>

        <div class="form_inputs">
          <label for="cover">Book Cover URL: </label>
          <input type="text" name="cover" class="inputs" id="cover" />
        </div>
        
          <label for="stock">Available: </label>
          <input type="radio" name="stock"  value="in_stock" id="in_stock" />
          <label for="yes" class="radio">Yes</label>
          <input type="radio" name="stock" value="out_of_stock" id="out_of_stock"/>
          <label for="no" class="radio">No</label>
  </div>
        <div class="buttons">
          <button type="submit" id="confirmEdit">Edit</button> 
          <button type="button" id="deleteBook">Delete</button>
          <input type="reset" value="reset" id ="resetButton"/> 
        </div>
      <br />
      <br />
    </form>


{%block script%}
   
   <script> 
        const input = document.getElementById('searchinput');
        const results = document.getElementById('searchResults');
        const csrf = document.getElementsByName('csrfmiddlewaretoken')[0].value;

        const search = (book) => {
            $.ajax({
                type: 'POST',
                url: '{% url "searchbooks" %}', 
                data: {
                    'csrfmiddlewaretoken': csrf,
                    'book': book
                },
                success: function(res) {
                    const result_box = document.getElementById('searchResults');
                    result_box.style.display = 'block';
                    results.innerHTML = "";
                    const data = res.data;
                    if (data.length) {
                        data.forEach(item => {
                            const div = document.createElement('div');
                            div.textContent = item.name;
                            div.dataset.book = JSON.stringify(item); 
                            div.classList.add('search-result');
                            results.appendChild(div);
                        });
                    } else {
                        results.innerHTML = "<div>No book found</div>";
                    }
                },
                error: function(response) {
                    console.log(response);
                }
            });
        }

        input.addEventListener('keyup', e => {
            results.innerHTML = "";
            results.style.display = 'none';
            const query = e.target.value;
            if (query.length > 0) {
                search(query);
            }
        });

        results.addEventListener('click', e => {
            if (e.target.classList.contains('search-result')) {
                const book = JSON.parse(e.target.dataset.book);
                document.getElementById('book_id').value = book.id; 
                document.getElementById('name').value = book.name;
                document.getElementById('author').value = book.author;
                document.getElementById('description').value = book.description;
                document.getElementById('Publisher').value = book.publisher;
                document.getElementById('genre').value = book.genre;
                document.getElementById('language').value = book.language;
                document.getElementById('edition').value = book.edition;
                document.getElementById('date').value = book.year;
                document.getElementById('isbn').value = book.ISBN;
                document.getElementById('cover').value = book.image;
                document.getElementById('in_stock').checked = book.available;
                document.getElementById('out_of_stock').checked = !book.available;
            }
        });
         const form = document.getElementById('form');
         form.addEventListener('submit', e => {
            e.preventDefault();
            const formData = new FormData(form);
            $.ajax({
                type: 'POST',
                url: '{% url "updatebook" %}',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.success) {
                        alert('Book updated successfully!');
                      
                    } else {
                        alert('Failed to update the book.');
                    }
                },
                error: function (response) {
                    console.log(response);
                    alert('An error occurred.');
                }
            });
        });
         const deleteButton = document.getElementById('deleteBook');
    deleteButton.addEventListener('click', () => {
        const bookId = document.getElementById('book_id').value;
        if (confirm('Are you sure you want to delete this book?')) {
            $.ajax({
                type: 'POST',
                url: '{% url "deletebook" %}',
                data: {
                    'csrfmiddlewaretoken': csrf,
                    'id': bookId
                },
                success: function (response) {
                    if (response.success) {
                        alert('Book deleted successfully!');
                    
                    } else {
                        alert('Failed to delete the book.');
                    }
                },
                error: function (response) {
                    console.log(response);
                    alert('An error occurred while deleting the book.');
                }
            });
        }
    });
     const resetButton = document.getElementById('resetButton');
    resetButton.addEventListener('click', (e) => {
        e.preventDefault(); 
        if (confirm('Are you sure you want to reset the form?')) {
            document.getElementById('form').reset(); 
        }
    });
  </script>
{%endblock script%}

</body>
</html>
{%endblock content%}
